    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            
          <% if current_user %>
            <li><a href="#"><%= current_user.name%> 님 환영합니다.</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/users/sign_out">로그아웃</a></li>
            <li><a href="/main/myorder">주문내역</a></li>
            <li><a href="/main/baguni">장바구니</a></li>
          <%else%>
            <li><a href="/">HOME</a></li>
            <li><a href="/users/sign_up">회원가입</a></li>
            <li><a href="/users/sign_in">로그인</a></li>
          <%end%>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>
