    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron"  style="background-image: url('bg.jpg');">
      <div class="container">
        <h1><br><br>승호마트</h1><br>
        <p style="font-weight: 900;">웹프로그래밍 및 데이터베이스 과제입니다. <br>만든 사람은 노승호, 이종진, 김성중입니다.</p>
        <p><a class="btn btn-default btn-lg" href="#" role="button">과일 추가하기</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>바나나</h2>
          <p>image</p>
          <p>멸종위기랍니다. 지금 먹어야합니다</p>
          <p><a class="btn btn-default" href="#" role="button">장바구니 담기 &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>사과</h2>
          <p>image</p>
          <p>아침에는 황금이랍니다</p>
          <p>
          수량 :
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="4">5</option>
            <option value="4">6</option>
            <option value="4">7</option>
            <option value="4">8</option>
            <option value="4">9</option>
            <option value="4">10</option>
          </select>
          
          <a class="btn btn-default btn-sm" href="#" role="button">장바구니 담기 &raquo;</a></p>
        </div>
       
        <div class="col-md-4">
          <h2>한라봉</h2>
          <p>image</p>
          <p>제주도에서 갓 공수해온 최상급 한라봉</p>
          <p><a class="btn btn-default" href="#" role="button">장바구니 담기 &raquo;</a></p>
        </div>
    
    </div> <!-- /container -->
    
    <br>
    <br>
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>바나나</h2>
          <p>image</p>
          <p>멸종위기랍니다. 지금 먹어야합니다</p>
          <p><a class="btn btn-default" href="#" role="button">장바구니 담기 &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>사과</h2>
          <p>image</p>
          <p>아침에는 황금이랍니다</p>
          <p><a class="btn btn-default" href="#" role="button">장바구니 담기 &raquo;</a></p>
        </div>
       
        <div class="col-md-4">
          <h2>한라봉</h2>
          <p>image</p>
          <p>제주도에서 갓 공수해온 최상급 한라봉</p>
          <p><a class="btn btn-default" href="#" role="button">장바구니 담기 &raquo;</a></p>
        </div>
    
    </div> <!-- /container -->
     
       <hr>
       <center><button type="button" class="btn btn-success">구매하기</button></center>
       </div>
  <br><br>